@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="mb-3">
  <label for="Memberusername" class="form-label">Username</label>
  <input type="text" class="form-control" id="Memberusername" placeholder="Username">
</div>
 <div class="mb-3">
  <label for="Discordusername" class="form-label">Discord Username</label>
  <input type="text" class="form-control" id="Discordusername" placeholder="Discord#0000">
</div>
<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <label for="role" class="form-label">Role Selection</label>
  <option selected>Choose Role</option>
  <option value="1">Squad Leader</option>
  <option value="2">Second in command</option>
  <option value="3">Rifleman</option>
  <option value="3">Machine Gunner</option>
  <option value="3">Anti Tank</option>
</select>
</div>
